<f:layout name="Default"/>

<f:section name="Head">
	<script src="http://emberjs.com.s3.amazonaws.com/getting-started/jquery.min.js"></script>
	<script src="{f:uri.resource(path: 'Library/EmberJs/handlebars.js')}"></script>
	<script src="{f:uri.resource(path: 'Library/EmberJs/ember.js')}"></script>
	<script src="{f:uri.resource(path: 'Library/EmberJs/ember-data.js')}"></script>

	<link href="{f:uri.resource(path: 'Styles/Example/ToDo.css')}" rel="stylesheet"/>
</f:section>

<f:section name="Content">
	<script>

		window.Todos = Ember.Application.create({
			LOG_TRANSITIONS: true,
			LOG_STACKTRACE_ON_DEPRECATION: true,
			LOG_BINDINGS: true
		});

		DS.ActiveModelAdapter.reopen({
			namespace: 'api/1'
		});

		Todos.ApplicationAdapter = DS.ActiveModelAdapter.extend();

		Todos.Router.map(function () {
			this.resource('todos', {path: '/'}, function () {
				// additional child routes
				this.route('active');
				this.route('completed');
			});
		});

		Todos.TodosRoute = Ember.Route.extend({
			model: function () {
				return this.store.find('task');
			}
		});

		Todos.TodosIndexRoute = Ember.Route.extend({
			model: function () {
				return this.store.find('task');
			}
		});

		Todos.TodosActiveRoute = Ember.Route.extend({
			model: function () {
				return this.store.filter('task', function (todo) {
					return !todo.get('isComplete');
				});
			},
			renderTemplate: function (controller) {
				this.render('todos/index', {controller: controller});
			}
		});

		Todos.TodosCompletedRoute = Ember.Route.extend({
			model: function () {
				return this.store.filter('task', function (todo) {
					return todo.get('isComplete');
				});
			},
			renderTemplate: function (controller) {
				this.render('todos/index', {controller: controller});
			}
		});

		Todos.Task = DS.Model.extend({
			title: DS.attr('string'),
			isComplete: DS.attr('boolean')
		});

		Todos.TaskController = Ember.ObjectController.extend({
			actions: {
				editTodo: function () {
					this.set('isEditing', true);
				},
				acceptChanges: function () {
					this.set('isEditing', false);

					if (Ember.isEmpty(this.get('model.title'))) {
						this.send('removeTodo');
					} else {
						this.get('model').save();
					}
				},
				removeTodo: function () {
					var task = this.get('model');
					task.deleteRecord();
					task.save();
				}
			},

			isEditing: false,

			isCompleted: function (key, value) {
				var model = this.get('model');

				if (value === undefined) {
					// property being used as a getter
					return model.get('isComplete');
				} else {
					// property being used as  setter
					model.set('isComplete', value);
					model.save();
					return value;
				}
			}.property('model.isComplete')
		});

		Todos.TodosController = Ember.ArrayController.extend({
			actions: {
				createTodo: function () {
					// Get the todo title set by the "New Todo" text field
					var title = this.get('newTitle');
					if (!title.trim()) {
						return;
					}

					// Create the new Todo model
					var todo = this.store.createRecord('task', {
						title: title,
						isCompleted: false
					});

					// Clear the "New Todo" text field
					this.set('newTitle', '');

					// Save the new model
					todo.save();
				}
			},

			remaining: function () {
				return this.filterProperty('isComplete', false).get('length');
			}.property('@each.isComplete'),

			inflection: function () {
				var remaining = this.get('remaining');
				return remaining === 1 ? 'item' : 'items';
			}.property('remaining')
		});

		Todos.EditTodoView = Ember.TextField.extend({
			didInsertElement: function () {
				this.$().focus();
			}
		});

		Ember.Handlebars.helper('edit-todo', Todos.EditTodoView);
	</script>


	<script>
		{templatejs -> f:format.raw()}
	</script>
</f:section>
